<div class="row mx-0">
  <div class='about-me col-xs-12 col-sm-9 col-lg-9 col-xl-5'>
    <!-- Debug css doesn't load in button <%= button_to 'Toggle me' , class: "center", style: 'margin-left:200px;height:150px'%>  -->
    <h2 class="center"> About me </h2>

    <div class='profile-container'>
      <div id='dummy' class='profile'>
        <%= image_tag 'moustache.png' , id:'moustache' %>
        <%= image_tag 'cartoon.png', alt: 'profile picture. avatar',class: 'profile', id:'img' %>
      </div>
    </div>

    <section class="bio">
      <p>
           I've been a fullstack Ruby on Rails web developer since 2018 and currently <%= link_to "top rated on Upwork", "https://www.upwork.com/freelancers/randallbabaoye3" %>.
           <br> <br> Native born US citizen, living in Phoenix, Arizona.
      </p>
    </section>

    <br>
    <p> <b> <center> Overview of my skills: </center> </b>
    <br> Ruby on Rails web applications.
    <br><br> Testing with Rspec, Capybara and Selenium.  TDD/BDD.
    <br><br> React + Typescript.
    <br><br> JQuery, AJAX and Coffeescript.
    <br><br> Web scraping with Ruby and Selenium
    <br><br> Docker and simple orchestration
    <br><br> Deployments on Digital Ocean, AWS, Azure and Heroku.
    <br><br> Stripe payment processing
    <br><br> API integrations, JSON and XML parsing
    <br><br> Postgres and MySql database implementation
    <br><br> OAuth, secure logins and admin authorization
    <br><br> Proficient in Rust
    <br><br> Graduate work in computer science
    </p>
  </div>
</div>
