<div class="header">
  <%= image_tag 'randall_logo4.png', alt:'Randall Coding', id:'logo' %>
  <div class="h1"> <h1> Web Development & SEO </h1>  </div>

  <div class="nav-container">
    <div class="nav-item" id="portfolio" > Portfolio </div>
    <div class="nav-item" id="about-me" href="<%=aboutme_url%>"> About Me </div>
    <a href="https://github.com/randall-coding" target="_blank"> <div class="nav-item"> Github </div>  </a>
   <div class="nav-item" > Contact Me </div>
  </div>

</div>
