<nav class="navbar navbar-dark navbar-expand-lg header sticky-top">

  <a class="navbar-brand" href=<%= root_path %>>
    <%= image_tag 'randall_logo4.png', alt:'Randall Coding', id:'logo' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-container collapse navbar-collapse justify-content-end mt-2" id='navbarSupportedContent'>
    <div class="d-flex centered justify-content-end row mx-0">
      <div class="nav-item nav-item-active btn  border" id="portfolio" > Portfolio </div>
      <div class="nav-item btn  border" id="about-me" href="<%=aboutme_url%>"> About Me </div>
      <a href="https://github.com/randall-coding" target="_blank"> <div class="nav-item btn  border"> Github </div>  </a>
      <div class="nav-item btn  border" id="contact" > Contact Me </div>
    </div>
  </div>
</nav>
