<div class="portfolio-container">
  <h1 class="text-center d-block"> Portfolio </h1>
  <main>
      <!-- Portfolio carousel -->
      <%= render partial: 'portfolio_grid', locals:{portfolio_items:@portfolio_items} %>
      <hr>
  </main>
</div>
