<div class='right'>
  <!-- Debug css doesn't load in button
      <%= button_to 'Toggle me' , class: "center", style: 'margin-left:200px;height:150px'%>
  -->
  <h2 class="center"> About me </h2>
  <div class='profile-container'>
    <div id='dummy' class='profile'>
      <%= image_tag 'moustache.png' , id:'moustache' %>
      <%= image_tag 'cartoon.png', alt: 'profile picture. avatar',class: 'profile', id:'img' %>
    </div>
    <button id='btn-profile' class='center' title='moustache'> Toggle Moustache  </button>
  </div>
  <section class="bio">
    <p>
         &nbsp; &nbsp; Randall here.  I'm a Ruby on Rails web developer with a strong analytical background. JQuery, HTML5/CSS3, APIs, Ruby, web scraping, data analysis?  I've got you covered.  <br>  &nbsp; &nbsp; Native born US citizen, living in Phoenix, Arizona.
    </p>
  </section>
  <address class="center">
  <table class="contact_menu">
    <tr> <td>  <a href='https://www.github.com/randall-coding' target="_blank">
                  <div>  GitHub </div>
               </a>
   </td> </tr>
   <tr> <td>
      <a href='javascript:void(0)' data-remote="true" class="contact">
         <div> Contact </div>
      </a>
   </td> </tr>
   <tr> <td>
     <a href="https://www.paypal.me/randallcoding" target="_blank">
        <div> Paypal </div>
     </a>
   </td>  </tr>
   <tr style='border-bottom:0px none;'> <td>
     <a href="#last" class="last">
       <div> Latest </div>
     </a>

   </td>  </tr>
  </table>
  </address>

  <br>
  <p> <b> <center> Overview of my skills: </center> </b>
  <br> Ruby on Rails web applications.
  <br><br> Postgres database implementation
  <br><br> Heroku deployments
  <br><br> JQuery, AJAX and Coffeescript
  <br><br> MATLAB and C++ for computation of data sets
  <br><br> Web scraping with Ruby
  <br><br> API integrations, JSON and XML parsing
  <br><br> User databases, secure logins and admin authorization
  <br><br> Stripe payment processing
  <br><br> Graduate work in computer science
  </p>

</div> <!-- end div.right -->
