<div class='about-me'>
  <!-- Debug css doesn't load in button <%= button_to 'Toggle me' , class: "center", style: 'margin-left:200px;height:150px'%>  -->
  <h2 class="center"> About me </h2>

  <div class='profile-container'>
    <div id='dummy' class='profile'>
      <%= image_tag 'moustache.png' , id:'moustache' %>
      <%= image_tag 'cartoon.png', alt: 'profile picture. avatar',class: 'profile', id:'img' %>
    </div>
  </div>

  <section class="bio">
    <p>
         Randall here of Randall Coding LLC.  I'm a Ruby on Rails web developer with a strong analytical background. JQuery, HTML5/CSS3, APIs, Ruby, web scraping, data analysis?  I've got you covered.
         <br> <br> Native born US citizen, living in Phoenix, Arizona.
    </p>
  </section>

  <br>
  <p> <b> <center> Overview of my skills: </center> </b>
  <br> Ruby on Rails web applications.
  <br><br> Testing with Rspec, Capybara and Selenium.  TDD/BDD.
  <br><br> JQuery, AJAX and Coffeescript.
  <br><br> Web scraping with Ruby and Selenium
  <br><br> Heroku deployments, EC2 deployments.
  <br><br> Postgres database implementation
  <br><br> MATLAB and C++ for computation of data sets
  <br><br> API integrations, JSON and XML parsing
  <br><br> User databases, secure logins and admin authorization
  <br><br> Stripe payment processing
  <br><br> Graduate work in computer science
  </p>
</div>
