<!DOCTYPE HTML>
<html>
	<head>
		<title> SCRUM Task Manager (React Demo)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="<%= asset_url('task_manager.css')  %>" />
		<link rel="stylesheet" href="<%= asset_url('task_manager_table.css') %>" />

		<script src="/app-bundle.js"> </script>

	</head>
	<body class="is-preload">

			<div id="app"> </div>

			<!-- Main -->
			<div id="main">

				<footer class="major container medium">
					<h3> For more work see Randall Coding LLC </h3>
					<p> <a href="https://www.randallcoding.com"> Complete Portfolio   | </a>
						  <a href="https://github.com/randall-coding"> Github | </a>
					</p>
					<ul class="actions special">
						<li><a href="#" class="button"> Back to top </a></li>
					</ul>
				</footer>
			</div>
	</body>
</html>
