<div class="spacer">
</div>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to "Randall Coding LLC", root_path %>
  </div>
</footer>
