<nav class="navbar navbar-dark navbar-expand-lg header sticky-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-container collapse navbar-collapse justify-content-end mt-2" id='navbarSupportedContent'>
    <div class="d-flex centered justify-content-end row mx-0">
      <div class="nav-item nav-item-active btn border my-tabs" data-name="portfolio" id="portfolio" > Portfolio </div>
      <div class="nav-item btn  border my-tabs" id="about-me" data-name="aboutme" href="<%=aboutme_url%>"> About Me </div>
      <a href="https://github.com/randall-coding" target="_blank"> <div class="nav-item btn  border"> Github </div>  </a>
      <div class="nav-item btn  border" id="contact" > Contact Me </div>
    </div>
  </div>
</nav>
