<h2>Someone contacted you from Showcase website</h2>

 <p>
  <b> Message body: </b>
  <%= @body %>
 </p>

 <p>
  <b> From: <%= @from %> </b>
 </p>

 <p>
   <b> Email address: </b>
  <%= @email %>
 </p>

<p>
  <%= @greeting %>, this is the HTML version
</p>
