<h2>Someone contacted you from the Showcase website</h2>
  <p> <b> Message Body: </b> </p>
  <p style='padding-left:3em;'> <%= @body %> </p>
 <br>

 <p> <b> From: </b>  <%= @from %></p>
 <p> <b> Email Address: </b> <%= @email %> </p>
<small>  This is the HTML version </small>
