// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  padding: 0;
}

#btn-profile{
    margin-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:bold;
}

#logo {
 //align-self: center;
margin-left: auto;
margin-right: auto;
display:block;
margin-bottom: 0px;
align-self: center;
}

#moustache{
  height:50px;
  width:50px;
  position:absolute;
  visibility:hidden;
  left:80px;
  top:105px;
  z-index:3;
}

a {
  text-decoration: none;
  margin-right:0px;
}

a.scraper{
  color:red;
  font-style:italic;
}

body {
  //background-image: image_url('blue_waves35.jpg');
  //background-image: image_url('matrix_white20.png') ;
  background-position: center;
  background-size:cover;
  background-color:#ffffcc;
  text-shadow: 0px 0px 0px red;
  font-size: 20px;
}

div .h1{
   text-align: center;
}

h1{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
}

h1, h3 {
  display:inline;
}

h3 {
  font-size:28px;
  //text-shadow: 1px 1px 2px red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  //text-decoration: underline;
  margin-right:0px;
}

h3 a {
  color: orange;
}


p {

}

main{
    display:inline;
}

ul {
  list-style:none
}

.center{
  margin-right: auto;
  margin-left: auto;
  display:block;
}

.contact_menu{
  margin-right: auto;
  margin-left: auto;
  display:block;
  text-align:center;

  background-color:#E6BF83;
  width:200px;
  height:auto;
  font-size:20px;
  font-weight:bold;
  //text-shadow:1px 1px 1px black;
  overflow:hidden;

  border:4px brown solid;
  border-collapse:collapse;

  & a:link{
    color:black;
    padding-left:55px;
    padding-right:90px;
  }

  & a:visited{
    color:black;
    padding-left:55px;
    padding-right:90px;
  }

  & a:hover{
    font-size:22px;
    color:#9b111e;
  }


  & tr{
    border-bottom:4px brown solid;
  }

  & td {
    width:auto;
    height:auto;
  }

}

.div_description {
  width: 900px;
  float:left;
}

.div_profile{
  width:220px;
  height:210px;
  //border: 1px solid orange;
  margin-left: auto;
  margin-right: auto;
  display:block;
  position:relative;
  top: 0;
  left: 0;
  overflow:hidden;
}

.div_right {
  float:right;
  width: 370px;
  overflow:hidden;
}

.div_main{
  width: 1400px;
  overflow:hidden;
  margin-top: 0px;
}

div .slideshow{
  width: 900px;
  height: 360px;
  overflow:hidden;
  border: 6px solid;
  border-radius: 5px;
  background-color:rgba(230,191,131,0.1);
}

.inactive{
  display:none;
}

.portfolio{
  width: 900px ;//890px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  //border: 6px solid;
  display: none;
  position:relative;
  top:0;
  left:0;
}

.portfolio_first{
  width: 900px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  //border: 6px solid;
  position:relative;
  top:0;
  left:0;
  display:inline;
}

.profile {
  width:200px;
  border:6px solid;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  top:0px;
  left:0px;
  border-radius:10px;
  z-index:1;
}
