$left_width: 75% ;
$slideshow_width: 92%;
$slide_max_width: 700px;
$slide_height: 400px;
$profile_width: 60%; //$profile_dim: 130px;
$ruby: #ED2939;
$manilla: #ffe4b7;
$baby_blue: rgb(217, 237, 247);
$body: rgba(255,255,204,0.2);

@mixin roundborder($rounding1){
  -moz-border-radius: $rounding1 ;
  -webkit-border-radius: $rounding1 ;
  -o-border-radius: $rounding1 ;
  -khtml-border-radius: $rounding1 ;
  border-radius: $rounding1 ;
}

html{
    scroll-behavior: smooth;
}

body *{
  //maybe later
  // padding-top: 0;
  // padding-bottom: 0;
  // margin-top: 0;
  // margin-bottom: 0;
}

a {
  text-decoration: none;
  margin-right:0px;
}
a.ethereum{
    color:black;
    text-shadow: -2px 0 $baby_blue, 0 2px $baby_blue, 2px 0 $baby_blue, 0 -2px $baby_blue;
}

a.scraper{
  color:red;
  font-style:italic;
}

a.no-dec:visited{
  text-decoration:none;
  color:black;
}

body{
  background-position: center;
  background-size:cover;
  background-color: rgba(255,255,204,0.2);
  text-shadow: 0px 0px 0px red;
  font-size: 17.5px;
  font-family:Camphor,Open Sans,Segoe UI,sans-serif;
  margin: 0;
  padding: 0;
}

hr{
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
}

div.content{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width:95%;
}

div.contact_window{
    background-color: white;
    @include roundborder(10px);
    border: 3px solid black;
    position:absolute;
    width: 60%;
    min-width:700px;
    height: 536px;
    left:20%;
    top: 130px;
    z-index:10;
    display: none;
    opacity:0;
}

div.sendbtn-container{
  width:50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: 40px;
  margin-top:10px;
  float:right;
  padding-right:10px;
  & input, button{
    float:right;
  }
}

div.contact_me{
  margin-left:60px;
  height: 90%;
  margin-top: 0px;
  @include roundborder(20px);
}

div.description{
  & a.visit {
   float: right;
   margin: 0px;
   margin-right: 30px;
   margin-top: 20px;
   display:none;
  }
}

div.h1{
   text-align: center;
}

div.header{
  background-color: $manilla;  //rgba(252,90,141,0.4); // #fc5a8d;
  opacity:0;
}

div.page{
  //works better as expansive div anyway. could not modify width here
}

div.portfolio-container {
  width: $left_width;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.95em;
}

div.main{
  width: 100%; //width: 1300px;
  min-width:400px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow:hidden;
}

div.mask{
  background-color: black;
  opacity: 0.6;
  position:fixed;
  height:100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  display:none;
}

div.profile{
  width: 180px;  //$profile_width
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  position:relative;
  top: 0;
  left: 0;
  overflow:visible;
}

div.mid{
    float:left;
    width: 0% ; // width:7%;
    height:1000px;
}

div.nav-container{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 40px;
  min-width: 730px;
  overflow:auto;
}

div.nav-item{
  float: left;
  text-align:center;
  background-color: $ruby;
  color:black;
  position: relative;
  width:20%;
  min-width:150px;
  margin-left: 4%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:bold;
  border-radius: 5px;
  border: 1px solid black;
  cursor:pointer;
}

.nav-item-active{
  background-color: lighten($ruby,15%) !important;
}

div.about-me {
  width: 35%;
  min-width: 180px;
  overflow:hidden;
  padding-right:20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-top:45px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  background-color:white;
  border-radius:50px;
  border: 1px solid black;
  font-size: 1.0em;
}

div.slideshow{
  width: $slideshow_width;
  height: $slide_height;
  max-width: $slide_max_width;
  overflow:hidden;
  border: 6px solid;
  border-radius: 5px;
  background-color:rgba(230,191,131,0.1);
  margin-left:auto;
  margin-right: auto;

  position:relative;
}

form.contact_form{
  & textarea{
    width: $slideshow_width;
    height: 350px;
    margin-right: auto;
    background-color: $body;
    font-size: 1.4em;
    opacity: 0.9;
    border: 1px grey solid;
  }
  & * {
    font-size: 1.0em;
    color: black;
  }
  & input[type="text"]{
    width:95%;
    opacity: 0.9;
    background-color: $body;
    border: 1px grey solid;
  }
}

h1.section{
  background-color: rgba(255,0,0,.7);
  border-radius: 5px;
}

h1, h2{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
  font-family: Times;
}

h1, h3 {
  display:inline;
  font-family: "Times New Roman", Times, serif;
}


h3 {
  font-size:1.6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-right:0px;
  border-radius:10px;
  display: inline;
  margin-top:0px;
  margin-bottom:0px;
  width:100%;

  transition: all 2s ease;
}

h3 a {
  color: orange;
}


img.framework{
  width:20%;
  display:inline;
  margin-left: 10px;
  &.matlab{
    margin-bottom:-10px;
  }
}

img.profile {
  width:100%;
  height: 100%; //sic. $profile_dim;
  border:2px solid;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  top:0px;
  left:0px;
  border-radius:10px;
}

main{
    display:inline;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

table.contact_me{
  padding: 0px;
  width: $slideshow_width;
  margin-top: 10px;
  margin-left:3.5px;
  border-collapse: collapse;
  & *{
    padding: 0px;
    margin:0px;
  }
  & td{
    text-align: center;

  }
}

table.contact_menu{
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align:center;

  background-color: $body;
  width:100%;
  max-width:400px;
  height:auto;
  font-size:1.2em;
  font-weight:bold;
  //note don't display as block
  overflow:hidden;
  border:2px solid black;
  border-collapse:collapse;

  & a {
      width:100%;
  }

  & a:link{
    color:black;

  }

  & a:visited{
    color:black;
  }

  & tr{
    margin:0;
    border-bottom:2px solid black;
  }

  & tr:hover{
    background-color: silver;
  }

  & td {
  }

}

ul {
  list-style:none;
  padding:0;
}


.center{
  margin-right: auto;
  margin-left: auto;
  display:block;
}

.center-text{
  text-align: center;
}

.matlab{
  color:red;
}

.portfolio{
  width: 100%;
  height:$slide_height;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position:absolute;
  top:0px;
  left:0px;
  float:right;
}

.portfolio_active{
  width: 100%;
  height: $slide_height;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  top:0px;
  left:0px;
  display:block;
  float:left;
}

.shifted{
  top:0px;
  left: 100%;
  display:block;
  float:right;
}

#btn-profile{
    margin-top:5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:bold;
    font-size:0.95em;
    border-radius: 10px;
}

#logo {
   //align-self: center;
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-bottom: 0px;
  align-self: center;
}

#moustache{
  height:60px;
  width:35%;
  position:absolute;
  visibility:hidden;
  left:34%;
  top:43%;
  z-index:3;
}

#slideshow4{
  width:80%;
}

.active{
  display:block;
}

.inactive{
  display:none;
}


/* Responsive Design. *//* Responsive Design. *//* Responsive Design. *//* Responsive Design. *//* Responsive Design. */
//smaller browser window or large tablet
@media screen and (max-width:1050px){
    div.main{
      font-size: 0.93em
    }
    div.description{
      //display:none;
    }
}

//tablet portrait and smaller
@media screen and (max-width:910px) {
  div.portfolio-container{
    width: 80%;
  }
  div.about-me{
    float:none;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    min-width:250px;
    max-width:inherit;
  }
  div.profile-container{
    margin-right:5px;
    margin-bottom: 10px;
  }
  section.bio{
    padding-top:15px;
  }
  div.nav-container{
      width:95%;
  }
  #contact_window{
    min-width:600px;
    left:10%;
  }
}
//portrait mode of iphone and smaller
@media screen and (max-width:760px){
  body{
    font-size:14px;
  }
  div.slideshow{
    height:250px;
  }
  div.nav-container{
    min-width:600px;
  }
  div.nav-item{
    min-width:100px;
  }
  #logo{
    width:80%
  }
  #contact_window{
    width:80%;
    left:10%;
    min-width:456px
  }
}

@media screen and (max-width:500px){
  body{
    font-size:12px;
  }
  div.nav-item{
    min-width: 80px;
  }
  div.nav-container{
    min-width:400px;
  }
}
