// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
 //align-self: center;
margin-left: auto;
margin-right: auto;
display:block;
margin-bottom: 0px;
align-self: center;
}


a {
  text-decoration: none;
}

body {
  background-image: image_url('blue_waves35.jpg');
  //background-image: image_url('matrix_white20.png') ;
  background-position: center;
  background-size:cover;

  text-shadow: 0px 0px 0.5px red;
  font-size: 18px;
}

h1, h3 {
  display:inline;
}

p {
  //text-shadow: 0.5px 0.5px 5px red;
  //font-size: 18px;
}

ul {
  list-style:none
}




.div_description {
  width: 900px;
  float:left;
}

.div_right {
  float:right;
  width: 370px;
}

.div_main{
  width: 1400px;
  overflow:hidden;
  margin-top: 0px;
}

.portfolio{
  width: 890px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid;
}

.profile {
  width:200px;
  border:6px solid;
  margin-right: 40px;
}
